<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <urlMappings>
      <add url="~/seguranca-digital" mappedUrl="~/Voce.aspx" />
      <add url="~/empresas" mappedUrl="~/Empresa.aspx" />
      <add url="~/antivirus" mappedUrl="~/KAV.aspx" />
      <add url="~/internet-security" mappedUrl="~/KIS.aspx" />
      <add url="~/protecao-total" mappedUrl="~/KTS.aspx" />
      <add url="~/meu-carrinho" mappedUrl="~/Cart.aspx" />
      <add url="~/antivirus-android" mappedUrl="~/KISA.aspx" />
      <add url="~/protecao-para-criancas" mappedUrl="~/KSK.aspx" />
      <add url="~/testeBruno?nr_token=7EF70FB715C04DA4B5B4C4670" mappedUrl="~/kav.aspx?nr_token=7EF70FB715C04DA4B5B4C4670" />
      <add url="~/teste2" mappedUrl="~/voce.aspx?nr_token=EBC8D7A9F51D430A8AEC5EA6E" />
      <add url="~/TesteKAV" mappedUrl="~/KAV.aspx?nr_token=18BC7CA9141F4434AC101D7B2" />
      <add url="~/tstEspecial" mappedUrl="~/Payout.aspx?nr_token=8039A7C7636D4B56B48926D7D&amp;cdp=0FBE0DE9-1C44-4617-8" />
      <add url="~/TstTesteB" mappedUrl="~/Payout.aspx?nr_token=605D3346DD1048A1B8B428D69&amp;cdp=0FBE0DE9-1C44-4617-8" />
      <add url="~/TesteB" mappedUrl="~/Payout.aspx?nr_token=B54C8F0669124B9F90C5DD092&amp;cdp=0FBE0DE9-1C44-4617-8" />
      <add url="~/" mappedUrl="~/Payout.aspx?nr_token=5CB2B9D0DB084576910BE4AA3&amp;cdp=0FBE0DE9-1C44-4617-8" />
      <add url="~/testeURLWifi" mappedUrl="~/Cart.aspx?nr_token=A65CE5B74AA94BA98F626DC03&amp;cdp=0FBE0DE9-1C44-4617-8" />
      <add url="~/TesteWF" mappedUrl="~/Cart.aspx?nr_token=55AAD1D37F204C8BB6CCDE658&amp;cdp=0FBE0DE9-1C44-4617-8" />
      <add url="~/TesteWFLinkTel" mappedUrl="~/Cart.aspx?nr_token=C5422C5B7D3E413C8D959624F&amp;cdp=0D49ED2A-A418-4184-A" />
      <add url="~/Abraco" mappedUrl="~/Cart.aspx?nr_token=4E0B340F9370449B9D530B614&amp;cdp=CC5C61F0-0632-40D8-9" />
    </urlMappings>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KasperskySubscriptionServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="KasperskySubscriptionServiceBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://test.kss.kaspersky-labs.com:443/soap/upi" binding="basicHttpBinding"
          bindingConfiguration="KasperskySubscriptionServiceBinding"
          contract="KL_API.KasperskySubscriptionServicePortType" name="KasperskySubscriptionServiceSoap" />
      <endpoint address="https://test.kss.kaspersky-labs.com:443/soap/upi" binding="basicHttpBinding"
         bindingConfiguration="KasperskySubscriptionServiceBinding"
         contract="BLL.KasperskySubscriptionServicePortType" name="KasperskySubscriptionServiceSoap" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="chave_pgm" value="ak_test_Cvr3oEe24nll6MLHsvNsWKkOQHSl0Z" />
    <add key="crpit_pgm" value="ek_test_imdFM4Sx17xgGcbrmOaib0A2uyaJrW" />
    <add key="url_pgm" value="https://api.pagar.me/1"/>
    <add key="home" value="https://www.antiviruslinktel.com.br/"/>
    <add key="home_voce" value="~/voce.aspx"/>
    <add key="home_kav" value="~/KAV.aspx"/>
    <add key="home_kis" value="~/KIS.aspx"/>
    <add key="home_kts" value="~/KTS.aspx"/>
    <add key="home_kisa" value="~/KISA.aspx"/>
    <add key="home_ksk" value="~/KSK.aspx"/>
    <add key="home_empresa" value="~/Empresa.aspx"/>
    <add key="cdr" value="Linktel577sp@"/>
    <add value="AKIAISZEL44RLNL7DUCA" key="AWSAccessKey" />
    <add value="8jM7QwgmBMmE3mGv0S6X989j0znsL5LfDnRUyTIB" key="AWSSecretKey" />
    <add value="seupedido@antiviruslinktel.com.br" key="EmailRetorno" />
    <add value="seupedido@antiviruslinktel.com.br" key="EmailLog" />
    <add value="Seu Pedido - Antivirus Linktel + Kaspersky Lab" key="EmailTitulo" />
    <add value="4" key="KIS" />
    <add value="3" key="KAV" />
    <add value="5" key="KTS" />
    <add value="6" key="KISA" />
    <add value="10" key="KSK" />
    <add key="ambiente_web" value="1"/>
    <add key="ambiente_Producao" value="0"/>
    <add key="url_linktel" value="https://api232.linktelwifi.com.br/users"/>
    <add key="url_linktel_update" value="https://api232.linktelwifi.com.br/users"/>
    <add key="usuario_linktel" value="kaspersky"/>
    <add key="senha_linktel" value="762*9@to"/>
    <add key="conexao" value="Server=db-av-01.cwhjrkbqthtq.us-east-1.rds.amazonaws.com;Database=dv_av_teste;User Id=UserApp;Password=wsedrf2309;"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnUOL" connectionString="server=35.232.96.49;database=db_italiers;uid=sqlserver;password=Sup3rM4n;" />
    <add name="ConnVenda" connectionString="server=35.232.96.49;database=db_italiers;uid=sqlserver;password=Sup3rM4n;" />
  </connectionStrings>
</configuration>
