@import '../../config/breakpoints.scss';
.header {
  height: 90px;
  transition: all 0.5s ease-in-out;
  .logo {
    height: 30px;
    width: auto;
    padding: 0px 60px;
  }
}

@media screen and (max-width: $sm) {
  .header {
    height: 52px;

    .logo {
      height: 28px;
      width: auto;
      padding: 0px 20px;
    }
  }
}
