@import '../../../src/config/breakpoints.scss';
.wrapper {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100vw;
    height: 3px;
    background-color: #f7f7f7;
  }

  margin-top: 20px !important;
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #707070;
    img {
      height: 14px;
      margin: 0px 2.5px;

      &:last-child {
        margin-right: 10px;
      }
    }
  }
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #707070;
  }
}

.wrapperSent {
  background-color: #f7f7f7;
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #707070;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
    text-align: center;
  }
  img {
    max-height: 48px;
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
  }
}
.wrapperDetails {
  padding-top: 20px;
  .side {
    border: 1px solid #ededed;
    padding: 20px !important;
  }
  .orderDetail {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #707070;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin: 8px;
    color: #707070;
  }
}
@media screen and (max-width: $sm) {
  .wrapperSent {
    .icon {
      img {
        margin-bottom: 10px;
      }
      p {
        padding-bottom: 20px;
        max-width: 220px;
        margin: auto;
      }
    }
    p {
    }
  }
}
