<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="chave_pgm" value="ak_live_tfw3ani1JHY3N0QLtYkoh0KMHbhgxh" />
    <add key="crpit_pgm" value="ek_live_UnTNpV9NDVL0aCwfR3alXLSgC9hpUi" />
    <add key="url_pgm" value="https://api.pagar.me/1"/>
    <add key="ambiente_web" value="0"/>
    <add key="log" value="1"/>
    <add key="ambiente_Producao" value="1"/>
    <add value="Seu Pedido - Antivirus Linktel + Kaspersky Lab" key="EmailTitulo" />
    <add key="cdr" value="Linktel577sp@"/>
    <add value="seupedido@antiviruslinktel.com.br" key="EmailRetorno" />
    <add value="seupedido@antiviruslinktel.com.br" key="EmailLog" />
    <add key="conexao" value="Server=db-av-01.cwhjrkbqthtq.us-east-1.rds.amazonaws.com;Database=db_av_01;User Id=UserApp;Password=wsedrf2309;"/>
    <add key="url_linktel" value="https://api.linktelwifi.com.br/users"/>
    <add key="url_linktel_update" value="https://api.linktelwifi.com.br/users"/>
    <add key="usuario_linktel" value="kaspersky"/>
    <add key="senha_linktel" value="762*9@to"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KasperskySubscriptionServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="KasperskySubscriptionServiceBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://america.kss.kaspersky-labs.com/soap/upi" binding="basicHttpBinding"
          bindingConfiguration="KasperskySubscriptionServiceBinding"
          contract="KL_API.KasperskySubscriptionServicePortType" name="KasperskySubscriptionServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>