<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="KasperskySubscriptionServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="KasperskySubscriptionServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.kss.kaspersky-labs.com:443/soap/upi" binding="basicHttpBinding"
                bindingConfiguration="KasperskySubscriptionServiceBinding"
                contract="KL_API.KasperskySubscriptionServicePortType" name="KasperskySubscriptionServiceSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="chave_pgm" value="ak_test_Cvr3oEe24nll6MLHsvNsWKkOQHSl0Z"/>
    <add key="crpit_pgm" value="ek_test_imdFM4Sx17xgGcbrmOaib0A2uyaJrW"/>
    <add key="url_pgm" value="https://api.pagar.me/1"/>
  </appSettings>
</configuration>